{% extends 'flatpages/default.html' %}
{% load static %}
{% block title %}Рассылка новостей{% endblock %}

{% block content %}
<style>
        /* CSS стиль для выравнивания текста по центру */
        .centered-text {
            text-align: center;
        }
    </style>

<div class="centered-text">
    <h2> Новостная рассылки нашим пользователям</h2>
</div>

<form method="post">
    {% csrf_token %}
    {% for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
    {% endfor %}
    <button type="submit">Разослать игрокам</button>
</form>
{% endblock %}