<html>

{% load static %}

{% block content %}

<a href="{% url 'ads' %}" class="nav-link">Все объявления</a>

<div style="text-align: right;">
    <a href="{% url 'register' %}" class="nav-link" style="font-size: 20px;">Еще нет аккаунта? Нажмите, чтобы зарегистрироваться</a>
</div>

<h2> Войти в систему </h2>
<form method="post">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
    {% endfor %}
    <button type="submit">Войти</button>
</form>
{% endblock %}

</html>